<ion-tabs>
  <ion-tab icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="search" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="add-circle-outline" href="/taasdasdbs/(home:home2)">
    <ion-router-outlet name="hoadadme"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="heart-empty" href="/taasdasdbs/(home:home3)">
    <ion-router-outlet name="hoasdadme"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="person" href="/tabs/(perfil:perfil)">
    <ion-router-outlet name="perfil"></ion-router-outlet>
  </ion-tab>
  
</ion-tabs>
