<ion-header>

	<ion-navbar color="primary">
		<ion-title>Lista de alunos</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="irParaPaginaDeCadastro()">
				<ion-icon name="person-add"></ion-icon>
			</button>
		</ion-buttons>

	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-card>
		<ion-card-content>
			<div *ngIf="deveMostrarAlunos; else avisoSemAlunos">
				<ion-list>
					<button ion-item *ngFor="let aluno of alunos" (click)="visualizar(this.aluno)">
						<ion-thumbnail item-start>
							<img [src]="aluno.urlImagem">
						</ion-thumbnail>
						<h2><strong>Nome:</strong> {{aluno.nome }} </h2>
						<h3><strong>Email:</strong> {{aluno.email }} </h3>
						<p><strong>Matricula:</strong> {{ aluno.matricula }} </p>
					</button>
				</ion-list>
			</div>
			<ng-template #avisoSemAlunos>
				<h2> nenhum aluno cadastrado </h2>
			</ng-template>
		</ion-card-content>
	</ion-card>

</ion-content>
