<ion-header>

	<ion-navbar color="primary">
		<ion-title>Lista de alunos</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="irParaPaginaDeCadastro()">
				<ion-icon name="person-add"></ion-icon>
			</button>
		</ion-buttons>

	</ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="deveMostrarAlunos; else avisoSemAlunos">
		<ion-list>
			<button ion-item *ngFor="let aluno of alunos" (click)="visualizar(this.aluno)" > {{ aluno.id + " - " + aluno.nome  + " : " + aluno.email}} </button>
		</ion-list>
	</div>
	<ng-template #avisoSemAlunos>
		<h2> nenhum aluno cadastrado </h2>
	</ng-template>

</ion-content>
