<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img src="assets/img/instagrando1.png" alt="logo do instagrando">

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
    </ion-slide>
    <ion-slide>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
    </ion-slide>
    <ion-slide>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
    </ion-slide>
    <ion-slide>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
    </ion-slide>
    <ion-slide>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
    </ion-slide>

  </ion-slides>

  <ion-card>
  <ion-toolbar>
    <ion-card-header>
      <ion-avatar>
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      Card Subtitle
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-header>
  </ion-toolbar>

    <ion-card-content>
      <img src="assets/img/instagrando2.png" alt="imagem do post">
      <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-card-content>
  </ion-card>


</ion-content>